.tarjeta_caja {
  background-color: rgba(69, 99, 230, 0.445);
  flex-shrink: 0;
  width: 270px;
  height: fit-content;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px 6px 10px 4px;
  position: relative;
}

.tarjeta_caja_img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.tarjeta_ofertas {
  width: 200px;
  position: absolute;
  right: -50px;
  top: -35px;
}

.tarjeta_caja:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0);
}

.tarjeta_precio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0;

  h3 {
    text-transform: uppercase;
    margin: 5px 0;
    font-weight: bold;
    font-size: large;
  }

  h4 {
    margin: 3px 10px 3px 10px;
    text-transform: uppercase;
  }

  h5 {
    font-weight: normal;
    text-align: center;
    margin: 5px 10px;
  }

  p {
    margin: 7px 0;
    font-size: x-large;
    font-weight: bolder;
    color: red;
  }

  span {
    color: green;
  }

  button {
    width: 70%;
    padding: 8px 0;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    border: navajowhite;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  button:hover {
    color: white;
    background-color: green;
  }
}

@media (max-width:480px) {

  .tarjeta_caja {
    flex-shrink: 0;
    width: 180px;
    height: auto;
    margin: 4px;
    position: relative;
  }

  .tarjeta_caja_img {
    height: 240px;
    object-fit: fill;
  }

  .tarjeta_ofertas {
    width: 160px;
    position: absolute;
    right: -50px;
    top: -35px;
  }

  .tarjeta_caja:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 1px rgb(0, 0, 0);
  }

  .tarjeta_precio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0;

    h3 {
      margin: 4px 0;
      font-weight: bold;
      font-size: medium;
    }

    h4 {
      margin: 3px 5px 3px 5px;
      text-transform: uppercase;
      font-size: small;
      font-weight: bold;
    }

    h5 {
      font-weight: normal;
      text-align: center;
      margin: 5px 10px;
    }

    p {
      margin: 7px 0;
      font-size: x-large;
      font-weight: bolder;
      color: blue;
    }

    span {
      color: green;
    }

    button {
      width: 60%;
      padding: 8px 0;
      font-size: small;
      font-weight: bold;
      text-transform: uppercase;
      border: navajowhite;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    button:hover {
      color: white;
      background-color: green;
      cursor: pointer;
    }
  }
}