.headerHome {
  width: 80%;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 15px 15px;

  img {
    width: 80px;
    height: 70px;
  }

  img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.header_boton_login {
  padding: 5px 10px;
  border: thick;
  border-radius: 5px;
  font-size: large;
}

.header_boton_login:hover {
  transform: scale(1.05);
  background-color: blue;
  color: white;
  cursor: pointer;
}


.headerBuscador {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

@media (max-width:480px) {
  .headerHome {
    width: 100%;
    border-radius: 0;

    img {
      width: 60px;
      height: 50px;
    }
  }

  .header_boton_login {
    padding: 5px 9px;
    border: thick;
    margin-right: 5px;
    font-size: small;
  }

  .header_boton_login:hover {
    transform: scale(1.05);
    background-color: blue;
    color: white;
    cursor: pointer;
  }


  .headerBuscador {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}