.boton{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: auto;
  padding: 4px 5px;
  height: 30px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  text-transform: uppercase;
  transition: .3s ease all;
  border-radius: 5px;
}

.boton span{
  position: relative;
  font-size: normal;
  font-weight: bold;
  z-index: 2;
  transition: 0.3s ease all;
}

.mostrar {
  display: unset;
}
.ocultar {
  display: none;
}

/* aca todo el codigo de la animacion uno */

.uno::after{
  content: "";
  width: 100%;
  height: 100%;
  background-color: blue;
  position: absolute;
  z-index: 1;
  top: -40px;
  transition: 0.3s ease-in-out all;
}
.uno:hover::after{
  top: 0;
}

/* aca todo el codigo de boton 2 */
.dos{
  transition: .3s ease-in-out all;
}
.dos::after{
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(-100% - 80px);

  border-right:40px solid transparent;
  border-bottom:40px solid rgb(13, 56, 173) ;
  transition: 0.4s ease-in-out all;
}
.dos:hover::after{
  left: 0;
}
.dos:hover{
  color: white;
}

/* tercer boton  */
.tres{
  transition: 0.3s ease-in-out all;
}
.tres::after{
  content: "";
  width: 100%;
  height: 200px;
  background-color: red;
  position: absolute;
  z-index: 1;
  top: -200px;
  transition: 0.4s ease-in-out all;
  border-radius: 0 0 200px 200px;
}
.tres:hover::after{
  top: 0;
}
.tres:hover{
  color: white;
}
/* cuarto boton */

.cuatro{
  transition: 0.4s ease-in-out all;
}
.cuatro::after{
  content: "";
  width: 1px;
  height: 1px;
  background-color: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: .8s ease-in all;
  border-radius: 100%;
  transform-origin: center;
}
.cuatro:hover::after{
  top: 0;
  transform: scale(400);
  background-color: rgba(0, 128, 0, 0.918);
}
.cuatro:hover{
  color: white;
}

/* botn numero cinco */
.cinco{
  background: none;
  color: black;

  svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
  }
  rect{
    width: 100%;
    height: 100%;
    stroke:green;
    stroke-width: 4px;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    transition: 0.8s ease all;
  }
}
.cinco:hover rect{
  stroke-dashoffset: 0;
}

@media (max-width:480px) {
  .boton{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: auto;
  padding: 4px 5px;
  margin: 3px;
}

.boton span{
  position: relative;
  font-size: smaller;
  font-weight: 200;
  z-index: 2;
  transition: 0.3s ease all;
}
}