.footer_contenedor {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.footer_contenedor_cajas {
  border: 1px solid white;
  border-radius: 20px;
  margin: 15px auto;
  width: 90%;
  overflow: hidden;
  display: flex;

  flex-direction: column-reverse;
}

.footer_cajas {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer_icono {
  font-size: 28px;
  transition: 0.1s ease-out;
}

.footer_icono:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.footer_cajas1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;

  h2 {
    padding: 10px 0;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.footer_cajas1_form {
  gap: 1em;

  button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: medium;
    margin-top: 10px;
    border: none;
    transition: all ease-in-out;
    text-transform: capitalize;
  }

  button:hover {
    cursor: pointer;
    transform: scale(1.01);
  }
}

.footer_form_imput {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  label {
    padding: 5px 5px 0 5px;
    font-size: medium;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: medium;
    outline: none;
    border: none;
  }
}

.footer_informacion {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  align-items: center;
  position: relative;
  background-color: white;

  h5 {
    padding: 10px 0;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h5:hover {
    transform: scale(1.05);
    color: blue;
    cursor: pointer;
  }

  p {
    color: rgb(3, 3, 104);
    width: 70%;
    text-transform: inherit;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p:hover {
    cursor: pointer;
    transform: scale(1.01);
    color: black;
  }

}

.footer_informacion_enlaces {
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footer_informacion_gif1 {
  position: absolute;
  z-index: 100;
}

.gift1 {
  left: 10px;
}

.gift2 {
  right: 10px;
}

.footer_informacion_gif1:hover {
  cursor: pointer;
}

.footer_firma {
  font-family: var(--font_firma);
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  transition: 0.09s ease-in-out;
}

.footer_firma:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media (max-width:480px) {
  

  .footer_cajas {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 10px 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .footer_icono {
    font-size: 28px;
    transition: 0.1s ease-out;
  }

  .footer_icono:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .footer_cajas1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    h2 {
      padding: 0;
    }
  }

  .footer_cajas1_form {
    gap: 1em;

    button {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding: 5px 15px;
      border-radius: 10px;
      font-size: medium;
      margin-top: 10px;
      border: none;
      transition: all ease-in-out;
      text-transform: capitalize;
    }

    button:hover {
      cursor: pointer;
      transform: scale(1.01);
      color: white;
      background-color: green;
    }
  }

  .footer_informacion_enlaces {
    width: 100%;
  }

  .footer_informacion_gif1 {
    display: none;
  }

  .footer_caja_iconos{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
  }
}