.banner_contenedor {
  position: relative;
  width: 100%;
  min-height: 400px;
  margin: 10px 0;
  overflow: hidden;

}

.banner_contenedor>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.banner_informacion {
  position: absolute;
  width: 60%;
  top: 35%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 10px;
  padding: 15px 10px;

  h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 45px;
  }

  p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;

  }

  button {
    margin: 15px;
    padding: 10px 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(171, 194, 230);
    border: navajowhite;
    border-radius: 10px;
    text-transform: capitalize;
  }

  button:hover {
    transform: scale(1.02);
    cursor: pointer;
    color: white;
  }
}

marquee {
  position: absolute;
  bottom: 0%;
  left: 0;
  color: white;
}

@media (max-width:480px) {
  .banner_contenedor {
    position: relative;
    width: 100%;
    min-height: 350px;
    margin: 10px 0;
    overflow: hidden;
  }

  .banner_contenedor>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
  }

  .banner_informacion {
    position: absolute;
    width: 90%;
    top: 15%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 10px;
    padding: 10px;

    h1 {
      font-size: 25px;
    }

    p {
      font-size: 16px;
      font-weight: bold;
    }

    button {
      padding: 10px 15px;
      font-size: medium;
    }
  }

}