.todos_contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;

  h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
  }
}

.todos_caja {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width:480px) {
  .todos_caja {
    width: 100%;
  }
}